<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video_output</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>
    <h2>Result for the video</h2>
    {%if finish == False%}
    <h3>Please keeping refreshing to see more results</h3>
    {%endif%}
    <br>
    <table>
      <tr>
        <th>Time</th>
        <th>#people</th>
          <th>Notices</th>
          <th>View Details</th>
      </tr>
        {%for i in range(0, len)%}
            <tr>
                <th>{{time_line[counts[i]]}}</th>
                <th>{{time_count[counts[i]]}}</th>
                <th>{{notice_count[counts[i]]}}</th>
                <th>
                   <form action = "Video_detail" method = "POST" enctype = "multipart/form-data">
                        <input type="hidden" id="image_name" name="image_name" value={{counts[i]}}>
                        <input id="Detail" type="submit" name="Detail" value="Detail" />
                   </form>
                </th>
            </tr>
        {%endfor%}
    </table>
</body>
</html>