<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  <body>
    <h2>History:</h2>
    <table>
        <tr>
          <th>Time</th>
            <th>View Details</th>
        </tr>
          {%for i in range(0, len)%}
              <tr>
                  <th>{{format_list[i]}}</th>
                  <th>
                     <form action = "Video_processing_history" method = "POST" enctype = "multipart/form-data">
                          <input type="hidden" id="filename" name="filename" value={{video_list[i]}}>
                          <input id="Detail" type="submit" name="Detail" value="Detail" />
                     </form>
                  </th>
              </tr>
          {%endfor%}
      </table>

    <br>

    <h2>New video</h2>
    <!-- Copy the 'url' value returned by S3Client.generate_presigned_post() -->
    <form action={{response['url']}} method="post" enctype="multipart/form-data">
      <!-- Copy the 'fields' key:values returned by S3Client.generate_presigned_post() -->
      <input type="hidden" name="key" value={{response['fields']['key']}} />
      <input type="hidden" name="AWSAccessKeyId" value = {{response['fields']['AWSAccessKeyId']}} />
      <input type="hidden" name="policy" value={{response['fields']['policy']}} />
      <input type="hidden" name="x-amz-security-token" value={{response['fields']['x-amz-security-token']}} />
      <input type="hidden" name="Signature" value={{response['fields']['signature']}} />
      <input type="hidden" name="success_action_redirect" value={{url}} />
    Please Upload Video in MP4:<br>
      <div>
      <input type="file" name="file" accept="video/mp4" onchange="fileChange(this);" /> <br/>
      </div>
      <input type="submit" name="submit" value="Upload" />
    </form>

    <script type="text/javascript">
        var isIE = /msie/i.test(navigator.userAgent) && !window.opera;
        function fileChange(target, id) {
            var fileSize = 0;
            var filetypes = [".mp4"];
            var filepath = target.value;
            if (filepath) {
                var isnext = false;
                var fileend = filepath.substring(filepath.lastIndexOf("."));
                if (filetypes && filetypes.length > 0) {
                    for (var i = 0; i < filetypes.length; i++) {
                        if (filetypes[i] == fileend) {
                            isnext = true;
                            break;
                        }
                    }
                }
                if (!isnext) {
                    alert("File type not accepted");
                    target.value = "";
                    return false;
                }
            } else {
                return false;
            }
            if (isIE && !target.files) {
                var filePath = target.value;
                var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
                if (!fileSystem.FileExists(filePath)) {
                    alert("File no exist!");
                    return false;
                }
                var file = fileSystem.GetFile(filePath);
                fileSize = file.Size;
            } else {
                fileSize = target.files[0].size;
            }

            var size = fileSize / 1024;
            if (size <= 0) {
                alert("File size cannot be 0");
                target.value = "";
                return false;
            }
        }
    </script>
  </body>
</html>