<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <title>video_output</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }


    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>
<header>
    <div class="main">
        <ul>
            <li><a href="javascript:history.back()">Go Back</a></li>
            <li><a href="{{ url_for('video_uploader')}}">Home</a></li>
            <li><a href="{{ url_for('main')}}">Logout</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
        </ul>
    </div>
    <h2>Result for the video</h2>
    {%if finish == False%}
    <h3>Please keeping refreshing to see more results</h3>
    {%endif%}
    <br>
    <div class ="content-table">
    <table>
      <tr>
        <th>Time</th>
        <th>#people</th>
          <th>Notices</th>
          <th>View Details</th>
      </tr>
        {%for i in range(0, len)%}
            <tr>
                <th>{{time_line[counts[i]]}}</th>
                <th>{{time_count[counts[i]]}}</th>
                <th>{{notice_count[counts[i]]}}</th>
                <td>
                   <form action = "Video_detail" method = "POST" enctype = "multipart/form-data">
                        <input type="hidden" id="image_name" name="image_name" value={{counts[i]}}>
                        <input id="Detail" type="submit" name="Detail" value="Detail" />
                   </form>
                </td>
            </tr>
        {%endfor%}
    </table>
    </div>
    </header>
</body>
</html>